@import './variables.module.scss';

.primary {
  background-color: $primary-blue;
  width: 16.5rem;
  height: 4.625rem;
  border-radius: 40.5px;
  border: none;

  &:hover {
    background-color: $primary-blue20;
  }
}

.disalbed {
  background-color: $bg40;
}

.text {
  color: $bg60;
  width: auto;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.selector {
  background-color: $bg20;
  border-radius: 25px;
  width: auto;
  height: 2.25rem;
  border: none;

  &:hover {
    background-color: $bg40;
  }

  &--selected {
    background-color: $primary-purple40;
  }
}

.tab-selector {
  color: $bg40;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;

  &:hover {
    color: $bg50;

    & > span {
      background-color: $bg50;
    }
  }

  &--selected {
    color: $bg100;
  }

  &-circle {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: $bg40;
    display: inline-block;
    margin-left: 2px;

    &--selected {
      background-color: $primary-purple100;
    }
  }
}

.check-selector {
  width: 4.5625rem;
  height: 4.5625rem;
  background-color: $bg0;
  border-radius: 50%;
  border: 1.5px solid $bg50;

  &--selected {
    background-color: $primary-blue40;
  }
}

.menu {
  width: 48px;
  height: 46px;
  background-color: none;
  border: none;
}
