@import './font.module.scss';
@import './variables.module.scss';

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.icon {
  position: relative;
  width: 95px;
  height: 95px;
}

.description {
  font-size: $body1;
  margin-top: 2rem;

  @media (max-width: 425px) {
    font-size: $body2;
  }
}

.confirm-container {
  margin-top: 48px;
}

.confirm {
  width: 20.4375rem;
  height: 4.625rem;
  font-size: $body3;
}
