@import './font.module.scss';
@import './variables.module.scss';

.challenge-layout {
  width: 100%;
  overflow: hidden;
  display: flex;

  @media (max-width: 425px) {
    height: $content-height-mobile;
  }
}
