@import './variables.module.scss';

.header {
  width: 100%;
  height: 4.5rem;
  border-bottom: 1.5px solid $bg100;

  & > div {
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    padding: 11px 48px 13px 59px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 425px) {
      padding: 10px 16px;
    }
  }

  @media (max-width: 425px) {
    height: 3.5rem;
  }
}

.menu-open {
  position: absolute;
  z-index: 6;
  background-color: $bg100;
}
