@import './variables.module.scss';
@import './font.module.scss';

.modal {
  inset: 0;
  margin-right: -50%;
  width: 100%;
  height: 100%;
  background-color: $bg100;
  overflow: hidden;
  padding: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 4;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 7px;
  padding: 0 36px;
}

.navigation-item {
  color: $bg0;
  font-size: $heading1;

  &:hover {
    color: $secondary-green;
  }

  // @media (max-width: 1080px) {
  //   font-size: $heading2;
  // }

  // @media (max-width: 768px) {
  //   font-size: $heading4;
  // }

  // @media (max-width: 556px) {
  //   font-size: $heading5;
  // }

  // @media (max-width: 425px) {
  //   font-size: $body1;
  // }
}
