@import './variables.module.scss';

.myachievement {
  margin-top: 26.94vh;

  @media (max-width: 768px) {
    margin: 48px auto 0;
  }

  @media (max-width: 768px) {
    width: fit-content;
  }
}

.badge-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 48px;
  max-width: 427px;
  margin: 0 12%;

  @media (max-width: 768px) {
    grid-gap: 42px;
    margin: 0 3rem;
  }

  @media (max-width: 425px) {
    grid-gap: 36px;
    margin: 0 1.5rem;
  }
}
