@import './variables.module.scss';
@import './font.module.scss';
@import './List.module.scss';

.container {
  width: 28.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 425px) {
    width: 327px;
  }
}

.info {
  background-color: $bg20;
  border-radius: 27px;
  color: $bg100;
  width: 28.5rem;
  padding: 24px 32px 22px;
  text-align: left;

  @media (max-width: 504px) {
    width: 20.4375rem;
  }
}
