@import './variables.module.scss';
@import './font.module.scss';

.register {
  display: flex;
  margin-left: 14.17%;
  margin-right: 24px;
  align-items: center;
  height: 100vh;

  @media (max-width: 768px) {
    align-items: flex-start;
    justify-content: center;
    margin-left: 24px;
  }
}

.confirm-button {
  width: 20.4375rem;
  height: 4.625rem;
  font-size: $body3;
}
