@import './font.module.scss';
@import './variables.module.scss';

.signup {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4.8rem 0;

  @media (min-width: 768px) {
    align-items: center;
    height: 100%;
    padding: 0;
  }
}

.panel {
  width: 23.5rem;
  margin: 0 24px;
  @media (max-width: 425px) {
    width: 20.4375rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 3rem;
  font-size: $heading5;
  color: $bg100;

  @media (max-width: 425px) {
    font-size: $body1;
  }
}

.input-container {
  width: 100%;
  height: 4.0625rem;
}

.password-condition {
  color: $primary-blue;
  font-size: $callout-small;
  margin: 0.25rem 0;
}

.auth-button-container {
  margin: 1.5rem 0 3rem;
  display: flex;
  justify-content: center;
}

.button-divider {
  color: $bg60;
  margin: 0 1rem;
}

.anchor {
  font-size: $callout;
  color: $bg60;
}

.submit-button-container {
  margin: 48px 0 0;
}

.sns-button-container {
  display: flex;
  justify-content: center;

  & > button:nth-child(2) {
    margin: 0 24px;
  }
}

.login-button {
  width: 20.4375rem;
  height: 4.625rem;
  font-size: $body3;
}
