@import './variables.module.scss';
@import './font.module.scss';

.button {
  border: 1.5px solid $bg100;
  border-top: 0;
  width: 25vw;
  font-size: $body3;
  height: 3.5625rem;
}

.button-active {
  width: 50vw;
  border-bottom: 0;
}
