@import './variables.module.scss';
@import './font.module.scss';

.today-challenge {
  padding-top: 11.66vh;
  padding-left: 13.5%;
  min-height: $content-height;

  @media (max-width: 768px) {
    margin: 0 24px;
    margin-top: 3rem;
  }
}

.challenge-list {
  margin-top: 64px;
  overflow-y: scroll;
  height: 45.92vh;
}

.date {
  color: $bg100;
  font-size: $body1;
}

.register-button {
  width: 20.4375rem;
  height: 4.625rem;
  font-size: $body3;
}
