@import './variables.module.scss';
@import './font.module.scss';

.today-challenge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 14.7%;
  min-height: $content-height;

  @media (max-width: 768px) {
    margin: 0 24px;
  }
}

.challenge-list {
  margin-top: 64px;
  overflow-y: scroll;
  height: 45.92vh;
  @include remove-scrollbar
}

.date {
  color: $bg100;
  font-size: $body1;
}

.register-button {
  width: 20.4375rem;
  height: 4.625rem;
  font-size: $body3;
}
